<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="geoip_api_csharp2.examples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <geoip_api_csharp2.examples.Properties.Settings>
            <setting name="GeoipDbPath" serializeAs="String">
                <value>dbs/</value>
            </setting>
            <setting name="GeoipDb" serializeAs="String">
                <value>GeoLiteCity.dat</value>
            </setting>
        </geoip_api_csharp2.examples.Properties.Settings>
    </applicationSettings>
</configuration>
